.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar .menu {
    display: flex;
    flex-direction: row;
}

.navbar .menu a {
    text-decoration: none;
    text-decoration: none;
    color: white;
    margin: 0 12px;
}

.navbar .menu a:hover {
    color: #1c7ed6;
}
